@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

$clr-main: #fff;
$clr-points: hsl(229, 25%, 31%);
$clr-score: hsl(229, 64%, 46%);
$clr-border: hsl(217, 16%, 45%);
$clr-placeholder: hsl(237, 49%, 15%);
$clr-play-again-hover: hsl(349, 71%, 52%);

$grd-scissors: linear-gradient(to right top, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
$grd-paper: linear-gradient(to right top, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
$grd-rock: linear-gradient(to right top, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
$grd-lizard: linear-gradient(to right top, hsl(261, 73%, 60%), hsl(261, 72%, 63%));
$grd-spock: linear-gradient(to right top, hsl(189, 59%, 53%), hsl(189, 58%, 57%));

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding*/
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul */
ul{
    list-style: none;
}

/* Improve media defaults */
img, picture, video, canvas, svg {
    max-width: 100%;
}

/* Font inherit */
input, button, textarea, select {
    font: inherit;
}

body {
    background: radial-gradient(at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    font-family: "Barlow Semi Condensed", sans-serif;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
}

header {
    align-items: center;
    border: solid 2px $clr-border;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 2rem;
    max-width: 700px;
    padding: 15px 25px;
}

.logo {
    color: $clr-main;
    cursor: pointer;

    &__row {
        display: block;
        font-size: 2.5rem;
        line-height: 32px;
        text-transform: uppercase;

        &--bonus {
            font-size: 1.45rem;
            line-height: 20px;
        }
    }
}

.score {
    background-color: $clr-main;
    text-align: center;
    padding: 15px 45px;
    border-radius: 8px;

    span {
        display: block;
    }
    &__title {
        font-size: 1.1rem;
        letter-spacing: 2px;
        color: $clr-score;
    }

    &__points {
        font-size: 3.7rem;
        font-weight: 700;
        line-height: 1;
        color: $clr-points;
    }
}

main {
    position: relative;
    max-width: 700px;
    margin: 0 auto;
    min-height: 70vh;
    padding: 180px 0;
}

.game-board {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
    width: 50%;
    margin: 0 auto;
    transition: transform 0.5s, opacity 0.5s;

    &--rps {
        aspect-ratio: 313 / 278;
        background-image: url("./images/bg-triangle.svg");
    }

    &--rpsls {
        aspect-ratio: 329 / 313;
        background-image: url("./images/bg-pentagon.svg");
    }

    &.move-left {
        transform: translate(-300%, -50%);
        opacity: 0;
    }

    &.moved-right {
        transform: translate(200%, -50%);
        opacity: 0;
    }
}

.hidden {
    display: none;
}

.choice-button {
    position: absolute;
    aspect-ratio: 1/1;
    align-items: center;
    border: none;
    border-radius: 50%;
    box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    width: 60%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &__image-container {
        align-items: center;
        background-color: $clr-main;
        border-radius: 50%;
        box-shadow: inset 0px 8px 0px rgba(0, 0, 0, 0.15);
        display: flex;
        justify-content: center;
        height: 80%;
        width: 80%;
    }

    img {
        width: 50%;
    }

    &--paper {
        background-image: $grd-paper;

        &--rps {
            top: 0;
            left: 0;
            transform: translate(-50%, -50%);
        }

        &--rpsls {
            width: 50%;
            top: 0;
            right: 0;
            transform: translate(50%, 25%);
        }
    }

    &--scissors {
        background-image: $grd-scissors;

        &--rps {
            top: 0;
            right: 0;
            transform: translate(50%, -50%);
        }

        &--rpsls {
            width: 50%;
            top: 0;
            right: 50%;
            transform: translate(50%, -50%);
        }
    }

    &--rock {
        background-image: $grd-rock;

        &--rps {
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 50%);
        }

        &--rpsls {
            width: 50%;
            bottom: 0;
            right: 0;
            transform: translate(15%, 50%);
        }
    }
    &--lizard {
        background-image: $grd-lizard;

        &--rpsls {
            width: 50%;
            bottom: 0;
            left: 0;
            transform: translate(-15%, 50%);
        }
    }

    &--spock {
        background-image: $grd-spock;

        &--rpsls {
            width: 50%;
            top: 0;
            left: 0;
            transform: translate(-50%, 25%);
        }
    }
    &:hover {
        scale: 1.05;
        box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.2), 
        0 4px 30px rgba(59, 67, 99, 0.95);
    }

    &:hover img {
        animation-name: rotate-img;
        animation-duration: 0.7s;
        animation-timing-function: ease-in-out;
        animation-delay: 0s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-fill-mode: none;
        animation-play-state: running;
    }
}

@keyframes rotate-img {
    from {
        transform: rotate(20deg)
    }

    to{
        transform: rotate(-20deg)
    }
}

.results {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(200%, -50%);
    width: 100%;
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;

    &.slide-left {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

.pick-container {
    width: 50%;
    position: relative;
    transition: 0.3s;
    
    .pick-title {
        font-size: 1.2rem;
        font-weight: 600;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        color: $clr-main;
        text-align: center;
        margin-bottom: 3rem;
    } 
}

.move-player-pick {
    transform: translateX(-30%);
}

.move-ai-pick {
    transform: translateX(30%);
}

.pick {
    aspect-ratio: 1/1;
    align-items: center;
    background-color: $clr-main;
    border-radius: 50%;
    box-shadow: inset 0px -12px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    width: 85%;
    margin: 0 auto;

    &--paper {
        background-image: $grd-paper;
    }

    &--scissors {
        background-image: $grd-scissors;
    }

    &--rock {
        background-image: $grd-rock;
    }

    &--lizard {
        background-image: $grd-lizard;
    }

    &--spock {
        background-image: $grd-spock;
    }

    &__placeholder {
        box-shadow: none;
        background-color: $clr-placeholder;
        opacity: 0.4;
        transform: scale(0.8);
        animation-name: pulse-placeholder;
        animation-duration: 0.5s;
        animation-timing-function: ease-out;
        animation-delay: 0s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-fill-mode: none;
        animation-play-state: running;
    }

    &__img-container {
        aspect-ratio: 1/1;
        align-items: center;
        background-color: $clr-main;
        border-radius: 50%;
        box-shadow: inset 0px 12px 0px rgba(0, 0, 0, 0.15);
        display: flex;
        justify-content: center;
        width: 80%;
    }

    img {
        width: 40%;
    }
}

@keyframes pulse-placeholder {
    0% {
        transform: scale(0.6);
    }

    100% {
        transform: scale (0.8);
    }
}

.winner {
    animation-name: winner;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-direction: alternate;
}

@keyframes winner {
    from {
        box-shadow: inset 0px -12px 0px rgba(0, 0, 0, 0.15);
    }
    to {
        box-shadow: inset 0px -12px 0px rgba(0, 0, 0, 0.15),
        0px 0px 0px 150px rgba(255,255,255,0.02),
        0px 0px 0px 100px rgba(255,255,255,0.02),
        0px 0px 0px 50px rgba(255,255,255,0.02);
    }
}

.result {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    animation-name: show-result;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;

    &__text {
        display: block;
        font-size: 3rem;
        color: $clr-main;
        text-transform: uppercase;
        text-align: center;
    }

    &__button {
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: 1.5px;
        color: $clr-points;
        text-transform: uppercase;
        background-color: $clr-main;
        padding: 10px 30px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover {
            scale: 1.1;
            color: $clr-play-again-hover;
            box-shadow: 0 4px 30px rgba(59, 67, 99, 0.95);
        }
    }
}

@keyframes show-result {
    0% {
        transform: translateY(-50%) scale(0);
    }

    100% {
        transform: translateY(-50%) scale(1);
    }
}

// footer {
//     max-width: 1000px;
//     margin: 0 auto;
//     display: flex;
//     justify-content: flex-end;

//     button {
        
//     }
// }

.rules {
    position: absolute;
    bottom: 2rem;
    right: 15%;
    font-size: .85rem;
    letter-spacing: 1.3px;
    color: $clr-main;
    text-align: center;
    padding: .4rem 1.55rem;
    border: solid 2px $clr-border;
    border-radius: 7px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
        background-color: $clr-main;
        color: $clr-score;
        box-shadow: 0 4px 30px rgba(59, 67, 99, 0.95);
    }

}

