@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding*/
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul */
ul {
  list-style: none;
}

/* Improve media defaults */
img, picture, video, canvas, svg {
  max-width: 100%;
}

/* Font inherit */
input, button, textarea, select {
  font: inherit;
}

body {
  background: radial-gradient(at top, hsl(214deg, 47%, 23%), hsl(237deg, 49%, 15%));
  font-family: "Barlow Semi Condensed", sans-serif;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
}

header {
  align-items: center;
  border: solid 2px hsl(217deg, 16%, 45%);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 2rem;
  max-width: 700px;
  padding: 15px 25px;
}

.logo {
  color: #fff;
  opacity: 0.75;
  cursor: pointer;
  transition: opacity 0.4s ease-in-out;
}
.logo:hover {
  opacity: 1;
}
.logo__row {
  display: block;
  font-size: 2.5rem;
  line-height: 32px;
  text-transform: uppercase;
}
.logo__row--bonus {
  font-size: 1.45rem;
  line-height: 20px;
}

.score {
  background-color: #fff;
  text-align: center;
  padding: 15px 45px;
  border-radius: 8px;
}
.score span {
  display: block;
}
.score__title {
  font-size: 1.1rem;
  letter-spacing: 2px;
  color: hsl(229deg, 64%, 46%);
}
.score__points {
  font-size: 3.7rem;
  font-weight: 700;
  line-height: 1;
  color: hsl(229deg, 25%, 31%);
}

main {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  min-height: 70vh;
  padding: 180px 0;
}

.game-board {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: cover;
  width: 50%;
  margin: 0 auto;
  transition: transform 0.5s, opacity 0.5s;
}
.game-board--rps {
  aspect-ratio: 313/278;
  background-image: url("./images/bg-triangle.svg");
}
.game-board--rpsls {
  aspect-ratio: 329/313;
  background-image: url("./images/bg-pentagon.svg");
}
.game-board.move-left {
  transform: translate(-300%, -50%);
  opacity: 0;
}
.game-board.moved-right {
  transform: translate(200%, -50%);
  opacity: 0;
}

.hidden {
  display: none;
}

.choice-button {
  position: absolute;
  aspect-ratio: 1/1;
  align-items: center;
  border: none;
  border-radius: 50%;
  box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  width: 60%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.choice-button__image-container {
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: inset 0px 8px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  height: 80%;
  width: 80%;
}
.choice-button img {
  width: 50%;
}
.choice-button--paper {
  background-image: linear-gradient(to right top, hsl(230deg, 89%, 62%), hsl(230deg, 89%, 65%));
}
.choice-button--paper--rps {
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}
.choice-button--paper--rpsls {
  width: 50%;
  top: 0;
  right: 0;
  transform: translate(50%, 25%);
}
.choice-button--scissors {
  background-image: linear-gradient(to right top, hsl(39deg, 89%, 49%), hsl(40deg, 84%, 53%));
}
.choice-button--scissors--rps {
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}
.choice-button--scissors--rpsls {
  width: 50%;
  top: 0;
  right: 50%;
  transform: translate(50%, -50%);
}
.choice-button--rock {
  background-image: linear-gradient(to right top, hsl(349deg, 71%, 52%), hsl(349deg, 70%, 56%));
}
.choice-button--rock--rps {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}
.choice-button--rock--rpsls {
  width: 50%;
  bottom: 0;
  right: 0;
  transform: translate(15%, 50%);
}
.choice-button--lizard {
  background-image: linear-gradient(to right top, hsl(261deg, 73%, 60%), hsl(261deg, 72%, 63%));
}
.choice-button--lizard--rpsls {
  width: 50%;
  bottom: 0;
  left: 0;
  transform: translate(-15%, 50%);
}
.choice-button--spock {
  background-image: linear-gradient(to right top, hsl(189deg, 59%, 53%), hsl(189deg, 58%, 57%));
}
.choice-button--spock--rpsls {
  width: 50%;
  top: 0;
  left: 0;
  transform: translate(-50%, 25%);
}
.choice-button:hover {
  scale: 1.05;
  box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.2), 0 4px 30px rgba(59, 67, 99, 0.95);
}
.choice-button:hover img {
  -webkit-animation-name: rotate-img;
          animation-name: rotate-img;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

@-webkit-keyframes rotate-img {
  from {
    transform: rotate(20deg);
  }
  to {
    transform: rotate(-20deg);
  }
}

@keyframes rotate-img {
  from {
    transform: rotate(20deg);
  }
  to {
    transform: rotate(-20deg);
  }
}
.results {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(200%, -50%);
  width: 100%;
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
}
.results.slide-left {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.pick-container {
  width: 50%;
  position: relative;
  transition: 0.3s;
}
.pick-container .pick-title {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  margin-bottom: 3rem;
}

.move-player-pick {
  transform: translateX(-30%);
}

.move-ai-pick {
  transform: translateX(30%);
}

.pick {
  aspect-ratio: 1/1;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: inset 0px -12px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  width: 85%;
  margin: 0 auto;
}
.pick--paper {
  background-image: linear-gradient(to right top, hsl(230deg, 89%, 62%), hsl(230deg, 89%, 65%));
}
.pick--scissors {
  background-image: linear-gradient(to right top, hsl(39deg, 89%, 49%), hsl(40deg, 84%, 53%));
}
.pick--rock {
  background-image: linear-gradient(to right top, hsl(349deg, 71%, 52%), hsl(349deg, 70%, 56%));
}
.pick--lizard {
  background-image: linear-gradient(to right top, hsl(261deg, 73%, 60%), hsl(261deg, 72%, 63%));
}
.pick--spock {
  background-image: linear-gradient(to right top, hsl(189deg, 59%, 53%), hsl(189deg, 58%, 57%));
}
.pick__placeholder {
  box-shadow: none;
  background-color: hsl(237deg, 49%, 15%);
  opacity: 0.4;
  transform: scale(0.8);
  -webkit-animation-name: pulse-placeholder;
          animation-name: pulse-placeholder;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.pick__img-container {
  aspect-ratio: 1/1;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: inset 0px 12px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  width: 80%;
}
.pick img {
  width: 40%;
}

@-webkit-keyframes pulse-placeholder {
  0% {
    transform: scale(0.6);
  }
  100% {
    transform: scale 0.8;
  }
}

@keyframes pulse-placeholder {
  0% {
    transform: scale(0.6);
  }
  100% {
    transform: scale 0.8;
  }
}
.winner {
  -webkit-animation-name: winner;
          animation-name: winner;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes winner {
  from {
    box-shadow: inset 0px -12px 0px rgba(0, 0, 0, 0.15);
  }
  to {
    box-shadow: inset 0px -12px 0px rgba(0, 0, 0, 0.15), 0px 0px 0px 150px rgba(255, 255, 255, 0.02), 0px 0px 0px 100px rgba(255, 255, 255, 0.02), 0px 0px 0px 50px rgba(255, 255, 255, 0.02);
  }
}

@keyframes winner {
  from {
    box-shadow: inset 0px -12px 0px rgba(0, 0, 0, 0.15);
  }
  to {
    box-shadow: inset 0px -12px 0px rgba(0, 0, 0, 0.15), 0px 0px 0px 150px rgba(255, 255, 255, 0.02), 0px 0px 0px 100px rgba(255, 255, 255, 0.02), 0px 0px 0px 50px rgba(255, 255, 255, 0.02);
  }
}
.result {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-animation-name: show-result;
          animation-name: show-result;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.result__text {
  display: block;
  font-size: 3rem;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.result__button {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: hsl(229deg, 25%, 31%);
  text-transform: uppercase;
  background-color: #fff;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.result__button:hover {
  scale: 1.1;
  color: hsl(349deg, 71%, 52%);
  box-shadow: 0 4px 30px rgba(59, 67, 99, 0.95);
}

@-webkit-keyframes show-result {
  0% {
    transform: translateY(-50%) scale(0);
  }
  100% {
    transform: translateY(-50%) scale(1);
  }
}

@keyframes show-result {
  0% {
    transform: translateY(-50%) scale(0);
  }
  100% {
    transform: translateY(-50%) scale(1);
  }
}
.rules-btn {
  position: absolute;
  bottom: 2rem;
  right: 15%;
  font-size: 0.85rem;
  letter-spacing: 1.3px;
  color: #fff;
  text-align: center;
  padding: 0.4rem 1.55rem;
  border: solid 2px hsl(217deg, 16%, 45%);
  border-radius: 7px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.rules-btn:hover {
  background-color: #fff;
  color: hsl(229deg, 64%, 46%);
  box-shadow: 0 4px 30px rgba(59, 67, 99, 0.95);
}

.game-rules {
  position: relative;
  outline: none;
  border: none;
  border-radius: 7px;
  padding: 1.7rem 2.2rem;
  overflow: hidden;
}
.game-rules::-webkit-backdrop {
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
.game-rules::backdrop {
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
.game-rules__title {
  color: hsl(229deg, 25%, 31%);
  text-transform: uppercase;
  margin-bottom: 3rem;
  text-align: center;
}
.game-rules img {
  aspect-ratio: 1/1;
}
.game-rules__close-btn {
  position: absolute;
  top: 7%;
  right: 5%;
  display: grid;
  place-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */