@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

$clr-main: #fff;
$clr-points: hsl(229, 25%, 31%);
$clr-score: hsl(229, 64%, 46%);
$clr-border: hsl(217, 16%, 45%);
$clr-placeholder: hsl(237, 49%, 15%);

$grd-scissors: linear-gradient(to right top, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
$grd-paper: linear-gradient(to right top, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
$grd-rock: linear-gradient(to right top, hsl(349, 71%, 52%), hsl(349, 70%, 56%));

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding*/
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul */
ul{
    list-style: none;
}

/* Improve media defaults */
img, picture, video, canvas, svg {
    max-width: 100%;
}

/* Font inherit */
input, button, textarea, select {
    font: inherit;
}

body {
    background: radial-gradient(at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    font-family: "Barlow Semi Condensed", sans-serif;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    // padding: 48px;
}

header {
    align-items: center;
    border: solid 2px $clr-border;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 2rem;
    max-width: 700px;
    padding: 15px 25px;
}

.logo {
    color: $clr-main;

    &__row {
        display: block;
        font-size: 2.5rem;
        line-height: 32px;
        text-transform: uppercase;
    }
}

.score {
    background-color: $clr-main;
    text-align: center;
    padding: 15px 45px;
    border-radius: 8px;

    span {
        display: block;
    }
    &__title {
        font-size: 1.1rem;
        letter-spacing: 2px;
        color: $clr-score;
    }

    &__points {
        font-size: 3.7rem;
        font-weight: 700;
        line-height: 1;
        color: $clr-points;
    }
}

main {
    position: relative;
    max-width: 700px;
    margin: 0 auto;
    min-height: 70vh;
    padding: 180px 0;
}

.game-board {
    position: relative;
    
    display: grid;
    place-content: center;

    // .choice-button {

    // } 

}

.choice-button {
    position: absolute;
    aspect-ratio: 1/1;
    align-items: center;
    border: none;
    border-radius: 50%;
    box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    width: 200px;
    cursor: pointer;

    &__image-container {
        align-items: center;
        background-color: $clr-main;
        border-radius: 50%;
        box-shadow: inset 0px 8px 0px rgba(0, 0, 0, 0.15);
        display: flex;
        justify-content: center;
        height: 80%;
        width: 80%;
    }

    img {
        width: 50%;
    }

    &--paper {
        top: 0;
        left: 0;
        transform: translate(50%, -50%);
        background-image: $grd-paper;
    }

    &--scissors {
        top: 0;
        right: 0;
        transform: translate(-50%, -50%);
        background-image: $grd-scissors;
    }

    &--rock {
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        background-image: $grd-rock;
    }
}

.results {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    border: 1px solid red;

}

.pick-container {
   
    width: 50%;
    border: 1px solid green;
    display: grid;
    place-content: center;

    .pick-title {
        font-size: 2rem;
        color: $clr-main;
        text-align: center;
    }

    // &__img-container {
    //     aspect-ratio: 1/1;
    //     align-items: center;
    //     background-color: $clr-main;
    //     border-radius: 50%;
    //     box-shadow: inset 0px 8px 0px rgba(0, 0, 0, 0.15);
    //     display: flex;
    //     justify-content: center;
    //     width: 80%;
    // }
      
}

.pick {
    aspect-ratio: 1/1;
    align-items: center;
    background-color: $clr-main;
    border-radius: 50%;
    box-shadow: inset 0px 8px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    width: 200px;

    &__placeholder {
        box-shadow: none;
        background-color: $clr-placeholder;
        opacity: 0.4;
        transform: scale(0.8);
        animation-name: pulse-placeholder;
        animation-duration: 0.5s;
        animation-timing-function: ease-out;
        animation-delay: 0s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-fill-mode: none;
        animation-play-state: running;
    }
}

@keyframes pulse-placeholder {
    0% {
        transform: scale(0.6);
    }

    100% {
        transform: scale (0.8);
    }
}
